/*
   viernes, 02 de mayo de 201404:55:32 a.m.
   User: 
   Server: MOHAWK\SQLEXPRESS
   Database: Platform
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.GamePlayer
	(
	GameID bigint NOT NULL,
	PlayerID bigint NOT NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.GamePlayer ADD CONSTRAINT
	PK_GamePlayer PRIMARY KEY CLUSTERED 
	(
	GameID,
	PlayerID
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.GamePlayer SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.GamePlayer', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.GamePlayer', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.GamePlayer', 'Object', 'CONTROL') as Contr_Per 