@{
    ViewBag.Title = "Acerca de..";
    ViewBag.Message = "Motivacion del sitio:";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>En los últimos años se ha vivido una verdadera fiebre del oro en relación a la creación de juegos Web y para dispositivos móviles. Siguiendo el ejemplo de aplicaciones como OGame, Farmville y Clash of Clans, miles de desarrolladores de todas partes del mundo se han volcado al diseño y desarrollo de videojuegos.
En este marco empresas como Plastronic Arts, han decidido comisionar el desarrollo de una plataforma en la nube, que actúe como soporte para el desarrollo de una nueva generación de juegos de estrategia en línea con la esperanza de poder, de esta manera, participar de los beneficios del próximo gran hit, y han denominado a esta iniciativa con el nombre código ATLAS (porque en sus espaldas carga a un mundo?).</p>
