@{
    ViewBag.Title = "Contacto";
    ViewBag.Message = "En caso de querer contactarse:";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Casa lo del tito<br />
    Facultad de Ingenieria<br />
    <abbr title="Phone">Telefono:</abbr>
    099.555.555
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>