@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ATLAS</h1>
    <p class="lead">ATLAS es un framwork libre para crear Juegos para la web.
    En los últimos años se ha vivido una verdadera fiebre del oro en relación a la creación de juegos Web y para dispositivos móviles. Siguiendo el ejemplo de aplicaciones como OGame, Farmville y Clash of Clans, miles de desarrolladores de todas partes del mundo se han volcado al diseño y desarrollo de videojuegos.
En este marco empresas como Plastronic Arts, han decidido comisionar el desarrollo de una plataforma en la nube, que actúe como soporte para el desarrollo de una nueva generación de juegos de estrategia en línea con la esperanza de poder, de esta manera, participar de los beneficios del próximo gran hit, y han denominado a esta iniciativa con el nombre código ATLAS (porque en sus espaldas carga a un mundo?).</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Cree un Nuevo Juego!</h2>
        <p>
            Con la creacion de un nuevo juego usted podra compartir su vision del mundo con miles de personas y asi hacerce millonario.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Crear Juego&raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Ranking de los mejores!</h2>
        <p>Visite y compare los mejores juegos que se han creado con nuestra plataforma.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Ranking&raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Pudrase!</h2>
        <p>Si no le gusta nuestra plataforma, o el color verde espantoso de nuestro logo... muerase.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Muerase &raquo;</a></p>
    </div>
</div>