<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
	<add name="PlatformEntities" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;Initial Catalog=Platform;Connect Timeout=360;Integrated Security=True;Application Name=ATLAS;Pooling=False;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>
